.layout {
  min-height: 100vh;

  &__content {
    width: 100%;
    padding: var(--sp-5) var(--sp-5) 6rem;
  }
}

// #ifdef H5
@media (min-width: 768px) {
  .layout {
    &__content {
      width: 100%;
      padding: var(--sp-10) var(--sp-10) var(--sp-12);
    }
  }
}

@media (min-width: 1024px) {
  .layout {
    &__content {
      padding: var(--sp-12) var(--sp-16) var(--sp-12);
    }
  }
}

@media (min-width: 1440px) {
  .layout {
    &__content {
      padding: var(--sp-12) var(--sp-16) var(--sp-16);
    }
  }
}
// #endif
